<footer class="border-top text-muted bg-dark">
    <div class="container">
        <div class="row py-3">
            <div class="col-12 col-md-3 text-center text-md-left">
                &copy; 2020 - Ocean Foods
            </div>

            <div class="rodtexto col-12 col-md-3 text-center">
                <a href="#" class="text-decoration-none text-light">Politica de privacidade</a>
            </div>

            <div class="rodtexto col-12 col-md-3 text-center text-md-right">
                <a href="#" class="text-decoration-none text-light">bestcars@gmail.com</a>
            </div>

            <div class="rodtexto col-12 col-md-3 text-center text-md-right">
                <a href="#" class="text-decoration-none text-light">@bestcars</a>
            </div>

        </div>
    </div>
</footer>