{% extends "bases/base.html" %}

{% block conteudo %}
    <div class="alin container">
        <form action="bestcars.php" method="post">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center row">
                <label for="name">Nome:</label>
                <input type="text" id="name" required />
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 text-center row">
                <label for="date">Data de nascimento:</label>
                <input type="date" id="date" required />
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 text-center row">
                <label for="email">E-mail:</label>
                <input type="email" id="email" required />
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 text-center row">
                <label for="cpf">CPF:</label>
                <input type="cpf" id="cpf" maxlength="11" required />
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 text-center row">
                <label for="telefone">Telefone:</label>
                <input type="telefone" id="telefone" maxlength="11" required />
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-center row">
                <label>Digite a sua senha:
                    <input type="password" name="senha" required />
                </label>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-center button">
                <button type="submit" class="btn btn-success mx-auto">Salvar</button>
            </div>
        </form>
    </div>
    {% endblock %}