{% extends "bases/base.html" %}
{% block conteudo %}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-4 text-center">
        <a><img style="height: 600px; width: 700px;" src="/static/img/FERRARI.jpg"
                class="media-object  img-responsive img-fluid"></a>

    </div>
    <div class="col-sm-12 col-md-12 col-lg-4 text-center mt-5">
        <h1>FERRARI 458 ITALIA</h1>
        <h3 class="mt-4">Lançadas pela primeira vez em 2009,
            as especificações da Ferrari 458 Italia
            trouxeram uma nova visão para uma marca
            icônica. A equipe da Ferrari combinou ótimo
            design com tecnologia avançada para criar
            um carro incrivelmente divertido de dirigir.</h3>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4 mt-5 mb-5 text-center">
        <div class="imgcar col-sm-12 text-center">
            <a><img style="height: 280px; width: 280px;" src="/static/img/ferrari458home.jpg"
                    class="bor media-object  img-responsive img-fluid rounded-circle"></a>
            <h5 class="mt-5">FERRARI 458 ITALIA</h5>
            <p>Potência: 570 CV</p>
            <p>Combústivel: Gasolina</p>
            <p>Câmbio: Automático</p>
            <p>Motor: V8 Turbo</p>
            <h6>VALOR: R$ 1.623.500,00</h6>
            <button type="button" class="btn btn-success mx-auto mt-2">Comprar</button>
        </div>
    </div>
</div>
<!--meio-->
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-4 mt-5 mb-5 text-center">
        <div class="imgcar col-sm-12 text-center">
            <a><img style="height: 280px; width: 280px;" src="/static/img/2020-Lamborghini-Aventador-SVJ-Roadster-32.jpg"
                    class="bor media-object  img-responsive img-fluid rounded-circle"></a>
            <h5 class="mt-5">LAMBORGHINI AVENTADOR</h5>
            <p>Potência: 770 CV</p>
            <p>Combústivel: Gasolina</p>
            <p>Câmbio: Automático</p>
            <p>Motor: V12</p>
            <h6>VALOR: R$ 3.200.000,00</h6>
            <button type="button" class="btn btn-success mx-auto mt-2">Comprar</button>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4 text-center mt-5">
        <h1>LAMBORGHINI AVENTADOR</h1>
        <h3 class="mt-4">O Aventador 2022 LP 780-4 Ultimate
             oferece 769 cavalos de potência e 531 libras-pés
              de torque, incluindo freios nas quatro rodas,
               carbono, cerâmica e uma suspensão ativa que 
               levanta o carro do nariz para ajudar a limpar
                as marchas. A aceleração para 60 mph leva cerca
                      de 2,8 segundos e a velocidade máxima é de 220 mph</h3>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4 text-center">
        <a><img style="height: 600px; width: 700px;" src="/static/img/LAMBOR.jpg"
                class="media-object  img-responsive img-fluid"></a>
    </div>
</div>
<!--X5 PARTE DO PORTA MALAS-->
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-4 text-center">
        <a><img style="height: 600px; width: 700px;" src="/static/img/bugatti.jpg"
                class="media-object  img-responsive img-fluid"></a>

    </div>
    <div class="col-sm-12 col-md-12 col-lg-4 text-center mt-5">
        <h1>BUGATTI CHIRON</h1>
        <h3 class="mt-4">o Chiron Super Sport está ainda mais poderoso
             e exclusivo o modelo,com o propósito de
              oferecer nível máximo de conforto mesmo nas mais altas 
              velocidades. Existem apenas 9 unidades fabricadas em todo o mundo.</h3>
    </div>

        <div class="imgcar col-sm-12 col-md-12 col-lg-4 text-center">
            <a><img style="height: 280px; width: 280px;" src="/static/img/bugattichironhome.jpg"
                    class="bor media-object  img-responsive img-fluid rounded-circle"></a>
            <h4 class="nomesmarcas">BUGATTI CHIRON</h4>
            <p>Potência: 1500 cv</p>
            <p>Combústivel: Gasolina</p>
            <p>Câmbio: Automático</p>
            <p>Motor: V16</p>
            <h6>VALOR: R$ 27.000.000,00</h6>
            <button type="button" class="btn btn-success mx-auto">Comprar</button>
        </div>
</div>
    {% endblock %}