{% extends "bases/base.html" %}

{% block conteudo %}
<!--LINHA DE CIMA CARROS-->
<div class=" row">
    <div class="imgcar col-sm-12 col-md-4 text-center">
        <a href=""><img style="height: 280px; width: 280px;" src="/static/img/MERCEDES/g350.jpg"
                class="bor media-object  img-responsive img-fluid rounded"></a>
                <h4 class="nomesmarcas">MERCEDES G 350</h4>
                <p>VALOR: R$ 778.900,00</p>
                <button type="button" class="btn btn-success mx-auto">Comprar</button>
    </div>
    <div class="imgcar col-sm-12 col-md-4 text-center">
        <a href="#"><img style="height: 280px; width: 280px;" src="/static/img/MERCEDES/c63.jpg"
                class="bor media-object  img-responsive img-fluid rounded"></a>
                <h4 class="nomesmarcas">MERCEDES C 63</h4>
                <p>VALOR: R$ 555.900,00</p>
                <button type="button" class="btn btn-success mx-auto">Comprar</button>
    </div>
    <div class="imgcar col-sm-12 col-md-4 text-center">
        <a href="#"><img style="height: 280px; width: 280px;" src="/static/img/MERCEDES/sls.png"
                class="bor media-object  img-responsive img-fluid rounded"></a>
                <h4 class="nomesmarcas">MERCEDES SLS</h4>
                <p>VALOR: R$ 1.195.722,00</p>
                <button type="button" class="btn btn-success mx-auto">Comprar</button>
    </div>
    
</div>
    {% endblock %}