{% extends "bases/base.html" %}

{% block conteudo %}
<div class="row">
    <div class="imgcar col-sm-12 col-md-4 text-center">
        <a href="BMW/bmw.html"><img style="height: 280px; width: 280px;" src="/static/img/NISSAN/r35.jpg"
                class="bor media-object  img-responsive img-fluid rounded"></a>
        <h4 class="nomesmarcas">NISSAN GT-R 35</h4>
        <p>VALOR: R$ 769.109,00</p>
        <button type="button" class="btn btn-success mx-auto">Comprar</button>
    </div>
    <div class="imgcar col-sm-12 col-md-4 text-center">
        <a href="#"><img style="height: 280px; width: 280px;" src="/static/img/MITSUBISHI/lancer.jpg"
                class="bor media-object  img-responsive img-fluid rounded"></a>
        <h4 class="nomesmarcas">LANCER EVOLUTION X</h4>
        <p>VALOR: R$ 191.487,00</p>
        <button type="button" class="btn btn-success mx-auto">Comprar</button>
    </div>
    <div class="imgcar col-sm-12 col-md-4 text-center">
        <a href="#"><img style="height: 280px; width: 280px;" src="/static/img/PORSCHE/porsche.jpg"
                class="bor media-object  img-responsive img-fluid rounded"></a>
        <h4 class="nomesmarcas">PORSCHE PANAMERA</h4>
        <p>VALOR: R$ 649.000,00</p>
        <button type="button" class="btn btn-success mx-auto">Comprar</button>
    </div>

</div>

<!--LINHA DE BAIXO CARROS-->
<div class="row">
    <div class="imgcar col-sm-12 col-md-4 text-center">
        <a href="#"><img style="height: 280px; width: 280px;" src="/static/img/TESLA/tesla.jpg"
                class="bor media-object  img-responsive img-fluid rounded"></a>
        <h4 class="nomesmarcas">TESLA MODEL S</h4>
        <p>VALOR: R$ 1.099.000,00</p>
        <button type="button" class="btn btn-success mx-auto">Comprar</button>
    </div>
    <div class="imgcar col-sm-12 col-md-4 text-center">
        <a href="#"><img style="height: 280px; width: 280px;" src="/static/img/HONDA/civic.jpg"
                class="bor media-object  img-responsive img-fluid rounded"></a>
        <h4 class="nomesmarcas">HONDA CIVIC</h4>
        <p>VALOR: R$ 126.500,00</p>
        <button type="button" class="btn btn-success mx-auto">Comprar</button>
    </div>
    <div class="imgcar col-sm-12 col-md-4 text-center">
        <a href="#"><img style="height: 280px; width: 280px;" src="/static/img/DODGE/dodgeram.jpg"
                class="bor media-object  img-responsive img-fluid rounded"></a>
        <h4 class="nomesmarcas">RAM 1500 REBEL</h4>
        <p>VALOR: R$ 474.990,00</p>
        <button type="button" class="btn btn-success mx-auto">Comprar</button>
    </div>

</div>
    {% endblock %}